# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
.DS_Store

utilities/bigint.hpp
convex_hull_trick/li_chao_tree.hpp
convex_hull_trick/test/li_chao_tree.test.cpp

ClipBoardHistoryConfig.txt
SnippetConfig.json
